.Characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Character-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 15px;
}

.Character-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Character-card-info {
    padding: 2px 16px;
}
